<table style="margin: 0 auto;">
    <tr>
    <td>Numero de Pregunta:</td>
    <td><%= estadisticas.preguntas %></td>
    </tr>
    <tr>
    <td>Numero de Comentarios publicados:</td>
    <td><%= estadisticas.comentarios %></td>
    </tr>
    <tr>
    <td>Promedio de comentario por preguntas:</td>
    <td><%= estadisticas.promedioComentarioPregunta %></td>
    </tr>
    <tr>
    <td>Preguntas con Comentario:</td>
    <td><%= estadisticas.preguntasConComentario %></td>
    </tr>
    <tr>
    <td>Preguntas sin Comentarios:</td>
    <td><%= estadisticas.preguntasSinComentario %></td>
    </tr>

</table>
